body {
    background-color: #191C25;
    font-family: Karla, sans-serif;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    position: relative;

  }
  html{
    height: 100%;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .navbar-dark {
      background-color: #0B0C10;
      border-bottom: 2px solid #51A7D9;
  }

  .landing-page img {
    margin: auto;    
    display: block;
}

.fullscreen {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
   
  }
