    body {
        padding: 0;
        font-family: Karla, sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    canvas {
        display: block;
    }
    
    .avatar {
        max-width: 500px;
    }
    
    #particles-js {
        width: 100%;
        min-height: calc(100vh - 54px);
        background-color: #0D0D0D;
    }
    
    .text {
        margin-top: 56px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        color: #F0F0F0;
        max-width: 1140px;
        padding: 2em 3em;
        text-shadow: 0px 0px 2px #131415;
        font-family: 'Karla', sans-serif;
        text-align: center;
    }
    
    .masthead {
        width: 100%;
        height: calc(100vh - 54px);
        position: relative;
        z-index: -1;
    }
    
    h1 {
        font-size: 2.25em;
        font-weight: 700;
        letter-spacing: -1px;
    }
    
    .tech_skills {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .education {
        text-align: right;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .projects {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .art {
        text-align: right;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .scroll-anchor {
        position: relative;
        top: -54px;
        left: 0;
    }
    
    .navbar-nav {
        font-family: 'Karla', sans-serif;
    }
    
    .fab {
        font-size: 50px;
        text-align: center;
        text-decoration: none;
        color: #51A7D9;
        padding-right: 20px;
    }
    
    .fab:hover {
        color: #343A40;
        text-decoration: none;
    }
    
    .navbar-dark {
        background-color: #101010;
        border-bottom: 2px solid #51A7D9;
        min-height: 56px;
    }
    
    .img-fluid {
        max-width: 500px;
        max-height: auto;
    }