    body {
        padding: 0;
        font-family: Karla, sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    canvas {
        display: block;
    }
    
    .avatar {
        max-width: 500px;
    }
    
    #particles-js {
        width: 100%;
        min-height: calc(100vh - 54px);
        background-color: #0D0D0D;
    }
    
    .btn-primary{
        background-color: #51A7D9 !important;
        color: #24344C !important;
        border: #51A7D9 2px solid;
    }
    p {
        color: #8D99AA;

    }
    .text {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        color: #F0F0F0;
        max-width: 1140px;
        padding: 2em 3em;
        text-shadow: 0px 0px 2px #131415;
        font-family: 'Karla', sans-serif;
        text-align: center;
    }

    .masthead {
        width: 100%;
        height: calc(100vh - 54px);
        position: relative;
        z-index: -1;
    }
    
    h1 {
        font-size: 2.25em;
        font-weight: 700;
        letter-spacing: -1px;
    }
    
    .tech_skills_content {
        padding-top: 1.75em;
        padding-bottom: 1.75em;
    }
    
    .education_content {
        text-align: right;
        padding-top: 1.75em;
        padding-bottom: 1.75em;
    }
    
    .projects_content {
        padding-top: 1.75em;
        padding-bottom: 1.75em;
    }
    
    .art_content {
        text-align: right;
        padding-top: 1.75em;
        padding-bottom: 1.75em;
    }
    
    .scroll-anchor {
        position: relative;
        top: -54px;
        left: 0;
    }
    
    .navbar-nav {
        font-family: 'Karla', sans-serif;
    }
    
    .fab {
        font-size: 50px;
        text-align: center;
        text-decoration: none;
        color: #51A7D9;
        padding-right: 10px;
        padding-left: 10px
    }
    
    .fab:hover {
        color: #343A40;
        text-decoration: none;
    }
    
    .navbar-dark {
        background-color: #141414;
        border-bottom: 2px solid #51A7D9;
        min-height: 56px;
    }
    
    .img-fluid {
        max-width: 500px;
        max-height: auto;
    }
    
    h1.intro_name {
        color: #F5F5F5;
        font-size: 100px
    }
    
    h3.intro_student {
        color: #EAEBEC;
        font-size: 25px
    }
    
    p.intro_bio {
        color: #B3B4B7;
        padding-top: 5px;
    }
    
    h4.intro_hi {
        color: #51A7D9;
    }
    
    .fas {
        color: #F5F5F5;
    }
    
    .fas:hover {
        color: #B3B4B7;
    }

    .software_icons {
        max-height: 125px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

    .project_cards {
        margin-top: 20px;
    }

    .right{
        float:right;
    }
    
    .left{
        float:left;
    }
    @media only screen and (max-width: 600px) and (orientation: portrait) {
        .fab {
            font-size: 30px;
        }

        h1.intro_name {
            color: #F5F5F5;
            font-size: 40px;
        }
        h3.intro_student {
            font-size: 15px;
        }
        p.intro_bio {
            font-size: 12px;
        }
        h4.intro_hi {
            font-size: 20px;
        }

        .software_icons {
        max-height: 110px;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;

        }
    }

    .footer {
        background-color: #141414;
        text-align: center;
    }
     .footer_icons {
        font-size: 40px; 
        color: #C0C5CC;
        padding-top: 10px;
        padding-bottom: 10px;
     }
